# project files
/target
/release
/*.txt

# profiling / work
/perf.*
/flamegraph.svg
/out

# temp files for debugging
/*.deb
/*.rpm
/*.tar*
/*.zip
/*.ext4
/*.txt

# biiiiiig files
/configs/ci/firecracker/vmlinux.bin
