---
input:
  name: "/etc/hosts + /etc/resolv.conf"
  type: "file"
  paths:
    - "/etc/hosts"
    - "/etc/resolv.conf"

output:
- name: "Tarball of /etc/hosts and /etc/resolv.conf"
  type: "tarball"
  # does NOT compress
  path: "./hosts-resolvconf.tar"
- name: "Silly Docker image"
  type: "docker"
  # base image specified, input filesystem just overwrites paths
  base_image: "alpine:latest"
  command: "cat /etc/resolv.conf"

---
input:
  name: "alpine docker image"
  type: "docker"
  image: "alpine:latest"

output:
- name: "Tar-packed rootfs"
  type: "tarball"
  path: "./alpine-docker-rootfs.tar"
- name: "Extracted rootfs"
  type: "file"
  path: "./alpine-docker-extract"

---
input:
  name: "alpine docker rootfs tarball"
  type: "tarball"
  path: "./alpine-docker-rootfs.tar"

output:
- name: "Extracted tarball"
  type: "file"
  path: "./tarball-extract"
- name: "Repacked Docker image"
  type: "docker"
  # no base_image -> uses scratch
  command: "cat /etc/resolv.conf"
